# https://github.com/requests/requests/issues/4310
requests[socks]==2.12.0
splinter
peewee
telethon
pyjwt
six
pysocks
tesserocr
eth-keys
shadowsocks
eth-hash[pycryptodome]
pyetherscan
web3
joblib
ethereum
eth-utils==0.7.3
pytz
