# https://github.com/requests/requests/issues/4310
requests[socks]==2.12.0
splinter
peewee
telethon
pyjwt
pysocks
tesserocr
eth-keys
# https://github.com/shadowsocks/shadowsocks/issues/646
# https://pypi.org/project/shadowsocks-py/
shadowsocks-py==2.9.1
eth-hash[pycryptodome]
pyetherscan
web3==4.7.1
joblib
eth-utils==1.2.1
pytz
# https://github.com/jssimporter/JSSImporter/issues/96#issuecomment-264287122
pyopenssl
